/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}
iframe {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

/* Your CSS Starts here */

/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */

html, body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
	line-height: 1.5em;
	background-color:#fdfdfd;
}

/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */

h1,h2,h3,h4,h5,a,p,li{
    font-style:normal;
    font-weight: 400;
    text-decoration:none;
    /*color: #353535;*/
	color:#333333;
}

p{
    line-height: 180%;
    margin: .5em 0 1em 0;
	padding: 0 3%;
    }

h1{
	color:#ffffff;
}

h2{
    font-size: 22px;
    font-weight: 700;
    width:100%;
	clear:both;
	margin: 1em 0 .5em 0;
	padding: 0 3%;
}


h3{
    font-size: 16px;
	font-weight: 700;
	padding: 0 3%;
}

h4{}

h5{
}

h6{
   font-size: .75em;
    margin-left: 1em;
	color:#7A7A7A;
}

h6 a {
	color:#5C5C5C;
}

 #wrapper{
    overflow: hidden !important;
    width:100% !important;
    }

.webname{
	padding:1.5em 0 0 0;
	float: left;
}

.logo{ 
   float:left; 
	padding: .5em 10% 0;
	width: 15%;
}

nav{
    width:100%;
    height:auto;
    clear:both;
    overflow: hidden;
	text-align: center;
	background-color:#fdfdfd;
	
}

nav ul{
    overflow: hidden;
    margin: auto;
    float:right;
    width:40%;
    
    
}
nav li{
    display: inline-block;
    font-size: 1em;
	padding: 20px 15px 15px;
    
}


nav a{
    text-decoration: none;
    color:#a19ba1;
    z-index: -30;
    float:left;
	width:50%;
}


.active{
	color:#4e194f;
}


/* This class is added on scroll */
.fixed {
	position: fixed; 
	overflow: hidden;
	top: 0;
	box-shadow: .2px .2px 1em #000000;
	z-index: 1;
}


main{
    width:100%; 
	margin: 0 auto;
    overflow:hidden;
	padding: none;
}

.light{
	background-color:#fff;
}

.light h2, .light h3, .light p{
	color:#333333;
}

section{
    margin: 0 0 2em;
    overflow:hidden;
}



.portPone, .portPtwo {
	position: relative;
	max-width: 99%;
	height: 7em;
	margin: .5em auto;
	overflow: hidden;
}

.top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 5.1em;
	background-color: rgba(52, 16, 52, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.portPone:hover .top,
.portPone.active{
	opacity: 1;
}

.portPtwo:hover .top,
.portPtwo.active{
	opacity: 1;
}

.portPone h1, .portPtwo h1 {
	text-align: left;
	width: 70%;
	font-size: 2em;
	position: absolute;
	top: 75%;
	left: 40%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



.hero{
	width:100%;
	overflow:hidden;
}	


.white{
	background-color:#fff;	
	padding:1em 0 0;
}

.whiteC{
	background-color:#fff;	
}


.dark{
	color:#333333;
	padding:0 5%;
}

.darkC{
	background-color: #333333;
	
}

#list{
	margin-left: 5%;
	list-style-position:outside;
	text-indent: -1%;
	line-height: 2;
}

.mockupD{
	display:none;
}



.webproto{
	margin: 0 auto;
	width: 80%;
	height: 35em;
}

/*GARDEN PARTY*/
/*GARDEN PARTY*/

.gpoints{
	width:100%;
	overflow:hidden;
}

.gpoints img{
	float:left;
	width:46%;
	padding:  .5em 2%;
	
}

.icons{
	width:100%;
}

/*GARDEN PARTY*/
/*GARDEN PARTY*/




/*LUCKY BASTARD CO*/
/*LUCKY BASTARD CO*/

.lbtouch{
	float:left;
    width:33.3%;
	padding: 2em 0;
}

.othertouch img{
	float:left;
	width: 25%;
	
}

.viewM{
	display:block;
	padding: 0;
}

.viewD{
	display:none;
}



.mockup{
	background-color: red;
	color:#fff;
	font-weight: 700;
	width: 80%;
	margin: 1em 10%;
	padding: 1em 5%;
	border-radius: 2px;
	border:none;
	float: left;
}

.websiteD {
	margin: 1em 0 3em 0;
}

.websiteD img{
	width: 100%;
}


.wireMlg{
	display:none;
}

.wireDlg{
	display:none;
}

.wireMframe{
		display:block;
	}	
	
.wireDframe{
		display:block;
	}

.mockm{
	display:block;
	width:100%;
}	
	
.mockd{
	display:none;
}

.othertouch{
	padding:0 0 2em;
	overflow:hidden;
}


/*LUCKY BASTARD CO*/
/*LUCKY BASTARD CO*/




/*LOLIWARE*/
/*LOLIWARE*/


.gif{
	width:20%;
}

.webProcess{
	background-color:#888888;
	width:100%;
	height: 200px;
}

	
.truck img{
	width: 50%;
	float:left;

}
	
.truck2 img{
	width: 96%;
	padding: 1em 2% 1em 2%;
	float:left;

}





/*LOLIWARE*/
/*LOLIWARE*/




/*MAISON*/
/*PIXEL*/


.mpWire{
	padding: 0 0 2em 0;
}

.mpWire img{
	margin: 1em 0;
}

.halfMp img{
	margin: 0 0 2em 0;
}


.char1{
	width: 100%;
	overflow:hidden;
}
	
.char1 img{
	width: 50%;
	float:left;

}

.char2{
	width: 100%;
	overflow:hidden;
}
	
.char2 img{
	width: 50%;
	float:left;

}


/*MAISON*/
/*PIXEL*/



/*COO*/
/*COO*/

#shaped{
   -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 70%, 0 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
	background-color:#333333;
	padding-bottom: 10em;
}


.slant{
	position: absolute;
	top:1em;
}


.right {
	width: 100%;
	height: 18em;
  -webkit-shape-outside: polygon(100% 40%, 100% 100%, 0 100%);
  shape-outside: polygon(100% 40%, 100% 100%, 0 100%);
  float: right;
  -webkit-clip-path: polygon(100% 40%, 100% 100%, 0 100%);
  clip-path: polygon(100% 40%,100% 100%, 0 100%);

}

.tri{
	position: relative;
	background: #ffffff url("portfolio/images/coo_map-background.jpg") no-repeat right top fixed;
	padding: 12em 0  0;

}



.shakeIt{
	position:relative;
}	
	
	
.timer{
	position: absolute;
	z-index:1;
	right: 10%;
	bottom: 1em;
	width: 30%;
}





/*COO*/
/*COO*/


/*ACHEIVE*/
/*ACHEIVE*/



.acIn{
	background-color:#61C8D3;
	padding: 0;
	margin: 0;
}


.helloJ1{
	position:relative;
}


.achT{
	width: 80%;
	margin: .25em auto;
}

.acStat img{
	margin: 0 0 2em 0;
}


.competition{
	padding: 2em 0;
}


.acComp li{
	float: left;
	width: 40%;
	color: #898989;
	font-size: .75em ;
	list-style: none;
	padding: 0 4%;
	
}

.imChi img{
	margin: 0 0 1em 0;
}

.invision2{
	display:none;
}

.viewM p{
	
}

/*ACHEIVE*/
/*ACHEIVE*/


.credit{
	width: 100%;
	margin-bottom: 50px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
}

.self{
    width:100%;
    margin-bottom: 0 0 50px;
}


.button{
	float:left;
    background-color: #341235;
	border: 2px solid #341235;
	color: #ffffff;
    padding: .75em 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
	font-weight: 700;
    margin: 1em 4%;
}

.button:hover{
	border: 2px solid #341235;
	background-color:#fdfdfd;
	border-radius: 2px;
	color: #341235;
}


.social{
        float:left;
        width: 8%;
		padding:1em 1%;
		
  }

.social:first-child{
	margin: 0 0 0 4%;
}


footer{
	text-align: center;
	width:100%;
	padding: 0 2% 2.5em;
	font-size: .75em;
}

footer p{
	padding:0;
}
	

.footright, .footleft {
	width: 50%;
	float: left;
	margin: 0 auto;
	width:48%;
	display:inline;
	color:#7A7A7A;
}

.portNav {
	position: relative;
	top: 0;
	left: 0;
	width: 96%;
	clear:both;
	height: 3em;
	padding-bottom: 1em
}

.portNav a{
	text-decoration: none;
	margin: .5em .75em;
	color:#DDDDDD;

}



/* Media Query for tablets with at least 768px wide windows */
@media screen and (min-width:768px)
{
	
	
h1{
    font-size:45px;
	padding: 100px 0 50px 5%;
}



.portPone {
	float:left;
	width: 49%;
	height: 10em;
	margin: .25em .5%;
	overflow: hidden;
}
	
.portPtwo {
	float:left;
	width: 49%;
	height: 10em;
	margin: .25em .5%;
	overflow: hidden;
}	
	

.top {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 9.8em;
	overflow:hidden;

}
	
	
	.self{
		width: 50%;
		margin: 0 auto;
	}	
	
	.bio{
		width: 90%;
		margin: 0 auto;
	}
	

.theMark{
	margin: 0 auto;
}	

.plogo img{
	margin: 0 0 0 5%;
}
	

.portPone h1{
	text-align: left;
	width: 90%;
	font-size: 2em;
	top: 70%;
	left: 48%;
	padding: 0;
}
	
.portPtwo h1 {
	text-align: left;
	width: 90%;
	font-size: 2em;
	top: 70%;
	left: 48%;
	padding: 0;
}
	
/*GARDEN PARTY*/
/*GARDEN PARTY*/	
	
	
.gpPmake:nth-child(3){
	padding: 0 0 0 2.5%;

}
	
.advertising img{
	width: 80%;
	margin: 1em 0 0 2.5%;
}
	
/*GARDEN PARTY*/
/*GARDEN PARTY*/
	
	
/*LUCKY BASTARD*/
/*LUCKY BASTARD*/

	.lbWebM{
	display:none;
}

.lbViewD{
	display:block;
}
	
/*LUCKY BASTARD*/
/*LUCKY BASTARD*/
	
	
/*MAISON PIXEL*/
/*MAISON PIXEL*/
	
	.mpLogo img{
		float: left;
		width: 50%;
	}
	
	
	.char1 img, .char2 img{
		width: 25%;
	}
	
/*MAISON PIXEL*/
/*MAISON PIXEL*/
	
	
/*COO*/
/*COO*/	
		
	.type{
		width:33.3%;
		float:left;
		overflow:hidden;
	}
	
	.type .viewM{
		display:none;
	}
	
	.type .viewD{
		display:block;
	}

	
/*COO*/
/*COO*/
	
	
/*ACHIEVE*/
/*ACHIEVE*/

	
	.helloJ1 img{
		width: 100%;
	}
	
	#videoM{
		display:none;
	}
	
	#videoD{
		display:block;
		margin: 0 auto;
		width: 100%;
	}

	
/*ACHIEVE*/
/*ACHIEVE*/	
	
.credit{
	width: 100%;
	margin-bottom: 50px;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
}
	
	
}


/* Media Query for desktops with at least 1000px wide windows */
@media screen and (min-width:1000px)
{
   
#wrapper{
	position: relative;
	max-height: 100%;
}

h1{
font-size:48px;
padding: 140px 0 40px 5%;
}

h2{
	padding: 0 0 0 3%;		
}

h3{
	padding: 0 0 0 5%;	
	margin: 1em 0 0 0;
}

section p{
	padding: 0 0 .5em 5%;
	width: 60%;
}
	
.webname{
	padding:1.75em 0 0 0;
	float: left;
	}
	
.logo{ 
   float:left; 
	padding: .6em 5% 0;
	width: 18%;
}
	
nav{
	width:100%;
	height: 65px;
}
	
nav ul {
	width: 20%;
}
   
nav a{
	width:20%;
}	
		
	
 section{
	     clear:both;
	}

.white{
	padding: 2em 0;
}

	
	
.portPone {
	float:left;
	width: 40%;
	height: 10em;
	margin: .5em .5%;
	overflow: hidden;
}
	
.portPtwo {
	float:left;
	width: 58%;
	height: 10em;
	margin: .5em .5%;
	overflow: hidden;
}	
	

.top {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 8.2em;
	overflow:hidden;

}


.portPone h1{
	text-align: left;
	width: 90%;
	font-size: 2em;
	top: 80%;
	left: 48%;
	padding: 0;
}
	
.portPtwo h1 {
	text-align: left;
	width: 90%;
	font-size: 2em;
	top: 80%;
	left: 48%;
	padding: 0;
}	
	
	

.self{
	width: 30%;
	float:left;
	margin-left: 10%;
}

.bio{
	width:45%;
	float: left;
	margin: 20px;
}

.button{
	margin:20px;

}
	
.white{
		padding:0;
	}
	
	
	
#invision{
	width: 40%;
	float:left;
	padding: 0 5% 2em;
}
	
#invision p{
	width: 100%;
	padding: 0;
}

#invision h3{
width: 100%;
padding: 0;
}	


.theMark{
	float: left;
	margin: 0 5%;
}


.viewM{
	display:none;
}

.viewD{
	display:block;
	padding: 0;
}	

		
.webproto{
	width: 438px; 
	height:930px;
}
	
.mockup{
	background-color: red;
	color:#fff;
	font-weight: 700;
	width: 30%;
	margin: 2em 4%;
	padding: 1em 5%;
	border-radius: 2px;
	border:none;
	float: left;
}

.websiteD img{
	float:right;
	width: 40%;
	margin: 0 5%;
}

.websiteD p{
	width: 50%;
	margin: 1em 0;
}	
	
.mockupD{
	display:block;
	margin: 0 auto;
}
	
	
	
/*MAISON PIXEL*/
/*MAISON PIXEL*/


	
.mpLogo{
	float:left;
	width: 45%;
	padding: 2em 0;
	}
	
	.mpLogo img{
		width: 50%;
		float:left;
	}
	
	
	
.kon{
	margin:1em 5%;
}	
	
#list{
	margin-left: 10%;
	list-style-position:outside;
	text-indent: -1%;
	line-height: 2;
	width: 90%;
}	
	

.halfMp{
	width: 45%;
	margin: 0 2.5% 1em;
	float:left;
}
	
.halfMp p{
	width: 100%;

}
	
.halfMp img{
	padding: 0 1%;
}	

.mpWire{
	width: 100%;
	padding:1em 1% 2em 1%;
	overflow:hidden;
}
	
.mpWire img{
	float:left;
	width: 31.5%;
	margin: 0 .5%;
	}
	
	
.char1 img{
	width: 25%;
	float:left;

}
	
.char2 img{
	width:25%;
	float:left;
}		
	
	
/*MAISON PIXEL*/
/*MAISON PIXEL*/
	
	
	
	
	
/*LUCKYBASTARD*/
/*LUCKYBASTARD*/
	
	.othertouch img{
	float:left;
	width: 12.5%;
	
}
	
	
/*LUCKYBASTARD*/
/*LUCKYBASTARD*/

	
	
	
	
/*GARDEN PARTY*/
 /*GARDEN PARTY*/
	
	
.plogo{
	float:left;
	width: 45%;
	padding: 2em 0;
}
	
.plogo p{
	width: 100%;
}
	
.icons{
	float:left;
	width:48%;
	padding: 0 1%;
}
	
.icons p{
	width: 85%;
}
	

.growC{
	width:50%;
	float:left;
}
	
.gpPmake{
	width: 50%;
	float:left;
}

.gpPmake p{
	width: 85%;
	padding: 0 5% 0 10%;
}
	
.gpPmake h3{
	width: 85%;
	padding: 0 5% 0 10%;
}	
	
.gpPmake{
width: 50%;
float:left;
}

	
.gpoints img{
	width: 31.3%;
	padding: 1em 1%;
	float:left;
}


.advertising img{
	width: 44%;
	padding: 0 1%;
	float:left;
}
	

	
	
/*GARDEN PARTY*/
/*GARDEN PARTY*/

	
	
	
/*LOLIWARE*/
/*LOLIWARE*/
	

#recipe{
	overflow:hidden;
}	

.reci{
	padding: 1em 0;

}	

.truck img{
	width: 25%;
	float:left;

}
	
.truck2 img{
	width: 48%;
	padding: 2em 1% 2em 1%;
	float:left;

}
	
/*LOLIWARE*/
/*LOLIWARE*/
	
	
	
/*COO*/
/*COO*/
	
	
.appIntro{
	width:31.3%;
	float:left;
	padding: 1em 1% 0;
}	
	
#shaped{
   -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0 95%);
	clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0 95%);
	padding-bottom: 4em;
}	
	
.tri{
	width: 100%;

}
	
#cooicon img{
	width: 50%;
	float:left;
}	
	
	
.slant{
	position: absolute;
	top:1em;
}

	
.right {
	width: 100%;
	height: 9em;
	  float: right;
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
	
.tri{
	position: relative;
	background: #ffffff url("portfolio/images/coo_map-background.jpg") no-repeat right top fixed;
	padding: 0;

}	
	
	
.type{
	align-content: center;
}
	
#type{
	padding 0;
	width: 70%;
	vertical-align: center;
}

.theCoo{
	width:50%;
	float:left;
}	
	
.shakeIt{
	position:relative;
	width: 50%;
	float:left;
}	
	
.shakeIt p{
	width: 90%
}
	
.timer{
	position: absolute;
	z-index:1;
	right: 10%;
	bottom: 1em;
}
	
	
.colorVid{
	width: 100%;
	padding:2em 0 0;
	}	
	
.colorVid iframe{
		margin: 0 auto;
	}

	
	
/*COO*/
/*COO*/
	
	

/*ACHEIVE*/
/*ACHEIVE*/


.type{
	width: 30%;
	float:left;
	margin: .25em 1.5% 0 1.5%;
}
	
.type p{
	text-align: center;
	width: 100%;
}	
	
.acColor{
	width: 50%;
	float:left;
	margin: 1em 0 4em;
}
	
.acStat{
	position: relative;
}
	
.acStat img{
	margin: 0 0 2em 0;
}
	
#statInfo:first-child{
	position:absolute;
	top: 40em;
	width: 40%;
	color: #ffffff;
	padding: 3em 0 0 10%;

}
	
#statInfo:nth-child(2){
	position:absolute;
	top: 50em;
	width: 40%;
	color: #ffffff;
	padding: 2em 0 0 10%;

}

.competition{
	width: 50%;
	float: left;
}
	
.competition img{
	width: 50%;
	float:left;
}	

.acComp li{
	float: left;
	width: 40%;
	color: #898989;
	font-size: .75em ;
	list-style: none;
	padding: 0 4%;
	

}
	
.invision2{
	display: block;
	margin: 0 auto;
}	
	

.imChi{
	position: relative;
	padding: 5em 0 3em;
}

.chiIn{
	position:absolute;
	z-index:1;
	width: 55%;
	top:15em;
	right: 0;
}
	
.chiIn p{
	width: 80%;
}

	

#video{
	margin: 2em auto;
}	
	
#acInv{
	right:0;
}
	

	
	
/*ACHEIVE*/
/*ACHEIVE*/

	
	

.credit{
	-webkit-column-count: 5; /* Chrome, Safari, Opera */
	-moz-column-count: 5; /* Firefox */
	column-count: 5;
}


footer{
	position: fixed;
	bottom: 0;
	padding: 1em 0 0;
	background-color:#333333;
}

.portNav, .footleft, .footright {
	position: relative;
}

.portNav {
	width: 35%;
	float: left;
	left: 30%;
	padding: 0;
}

.footleft {
	width: 20%;
	float: left;
	left:-38%;
}

.footright {
	text-align: right;
	width: 20%;
	float: left;
	right:0;
	left: 20%;
}


}